@import "tailwindcss";

@theme {
  --color-background: #020617;
  --color-foreground: #fafafa;
  --color-muted: #18181b;
  --color-accent: #27272a;
  
  --animate-border-beam: border-beam calc(var(--duration)*1s) infinite linear;
  --animate-spotlight: spotlight 2s ease .75s 1 forwards;
  
  @keyframes border-beam {
    100% {
      offset-distance: 100%;
    }
}

  @keyframes spotlight {
    0% {
      opacity: 0;
      transform: translate(-72%, -62%) scale(0.5);
    }
    100% {
      opacity: 1;
      transform: translate(-50%,-40%) scale(1);
    }
  }
}

/* 
  Tailwind v4 默认没有 base/components/utilities 分层 
  直接写全局样式即可 
*/

  :root {
  --background: #020617;
  --foreground: #fafafa;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Canvas Layer Fix */
canvas {
  touch-action: none;
}

/* Lenis Scroll */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
